{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'apli_5/estilos_5.css' %}">
    <script src="{% static 'apli_5/estilos_5.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'apli_4/images/kali celular 001.ico' %}" type="image/x-icon">
    <title>{{titulo}}</title> 
</head>
<body id="body">
    <img id="imagen_tierra" src="{% static 'apli_5/images/tierra_2.png' %}" alt="">
    <header id="cabezal">
        <h1 id="constelacion">
            constelacion
        </h1>
        <div id="division_enlaces">
            <a class="enlaces" href="https://www.solarsystemscope.com/">sistema solar</a>
            <a class="enlaces" href="">enlace_2</a>
            <a class="enlaces" href="">enlace_3</a>
            <a class="enlaces" href="">enlace_4</a>
        </div>
        
    
    </header>
    
        
   
    
    
    
</body>
</html>