{% extends "tiempo.html" %}
{% load static %}

{% block div %}
<div id="div_enlace_general">
    <div id="div_enlace_1">

    </div>
    <div id="div_enlace_1_interno">
        {% if not respuesta %}
            <h2 id="enlace_nombre_lugar">
                {{mensaje_error}}
            </h2>
            <a href="/tiempo/">
                <input id="boton_return" type="button" value="return">  
            </a>
        {% elif respuesta == "" %}
            <h2 id="enlace_nombre_lugar">
                {{mensaje_error}}
            </h2> 
            <a href="/tiempo/">
                <input id="boton_return" type="button" value="return">  
            </a>
        {% else %}
            <h2 id="enlace_nombre_lugar">
                    {{respuesta.name}}
            </h2> 
            <p class="enlace_1_datos">latitud: <span class="span_enlaces_internos">{{latitud}}°</span> </p> 
            <p class="enlace_1_datos">longitud: <span class="span_enlaces_internos">{{longitud}}°</span> </p>
            <p class="enlace_1_datos">principal function: <span class="span_enlaces_internos">country - pais: {{respuesta.sys.country}}</span> </p> 
            <p class="enlace_1_datos">description: <span class="span_enlaces_internos">amanecer {{fecha_hora_amanecer}}</span> </p> 
            <p class="enlace_1_datos">description: <span class="span_enlaces_internos">puesta del sol {{fecha_hora_puesta_sol}}</span> </p>
            <div id="div_imagen_enlace_nube_6">
                <img id="imagen_enlace_nube_8" src="{% static 'apli_4/images/brujula_2.png' %}" alt="">
                <img id="imagen_enlace_nube_9" src="{% static 'apli_4/images/mapa_1.jpg' %}" alt="">
                <img id="imagen_enlace_nube_10" src="{% static 'apli_4/images/mapa_2.jpg' %}" alt="">
                <img id="imagen_enlace_nube_11" src="{% static 'apli_4/images/mapa_3.jpg' %}" alt="">
            </div>
            <input id="boton_return" type="button" value="return" onclick="history.go(-1);">               
        {% endif %}
    </div>

</div>
{% endblock %}