{% extends "tiempo.html" %}
{% load static %}

{% block div %}
<div id="div_enlace_general">
    <div id="div_enlace_1">

    </div>
    <div id="div_enlace_1_interno">
        {% if not respuesta %}
            <h2 id="enlace_nombre_lugar">
                {{mensaje_error}}
            </h2>
            <a href="/tiempo/">
                <input id="boton_return" type="button" value="return">  
            </a>
        {% elif respuesta == "" %}
            <h2 id="enlace_nombre_lugar">
                {{mensaje_error}}
            </h2> 
            <a href="/tiempo/">
                <input id="boton_return" type="button" value="return">  
            </a>
        {% else %}
            <h2 id="enlace_nombre_lugar">
                    {{respuesta.name}}
            </h2> 
            <p class="enlace_1_datos">latitud: <span class="span_enlaces_internos">{{latitud}}°</span> </p> 
            <p class="enlace_1_datos">longitud: <span class="span_enlaces_internos">{{longitud}}°</span> </p>
            <p class="enlace_1_datos">principal function: <span class="span_enlaces_internos">velocidad del viento {{viento_1.speed}}</span> </p> 
            <p class="enlace_1_datos">description: <span class="span_enlaces_internos">direccion del viento {{viento_1.deg}}°(procedencia)</span> </p> 
            
            <div id="div_imagen_enlace_nube_6">
                <img id="imagen_enlace_nube_6" src="{% static 'apli_4/images/dios_1.png' %}" alt="">
                <img id="imagen_enlace_nube_7" src="{% static 'apli_4/images/rayo_1.jpg' %}" alt="">
            </div>
            <input id="boton_return" type="button" value="return" onclick="history.go(-1);">               
        {% endif %}
    </div>

</div>
{% endblock %}