#body_kaligram {
    background-attachment: fixed;
    background-image: linear-gradient(#06132f, #5ca6c1, #02199e);
} 
/* ============================ EL PRIMER DIV CONTENEDOR DE LOS TITULOS ==================================== */

#contenedor_logo {
    position: absolute;
    background-color: rgb(14, 2, 34);
    width: 130px;
    height: 110px;
    border: 1px solid rgb(31, 131, 203);
    border-radius: 45% 22% 0%;
    box-shadow: 10px 10px 10px black;
    margin-left: 20px;
}
#imagen_jupiter {
    position: absolute;
    width: 75%;
    left: 20px;
    filter: drop-shadow(10px 10px 7px rgb(6, 115, 119));
    z-index: 0;
}
#imagen_kaligram {
    position: absolute;
    width: 200px;
    height: 50px;
    left: -20px;
    top: 30px;
    z-index: 3;
    transform: skew(25deg,-15deg);
    filter: drop-shadow(1px 1px rgb(206, 247, 168));
}
#imagen_tierra {
    position: absolute;
    width: 55%;
    z-index: 1;
    left: 80px;
    top: 80px;
    filter: drop-shadow(2px 2px 4px white);
}
#tiempo {
    position: relative;
    color: white;
    font-size: 12px;
    text-align: center;
    top: 110px;
    z-index: 3;
}

/* ==================================================== */
#div_mensaje_no_enviado {
    position: relative;
    width: 60%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
#div_avatar_3 {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 0px;
    z-index: 5;
    border: 1px solid rgb(18, 62, 181);
    border-radius: 35%;
    background-color: black;

    
}
#imagen_avatar_3 {
    position: relative;
    width: 100%;
    height: 80px;
    border-radius: 35%;
    
}


/* ================================== SEGUNDO DIV CONTENEDOR DE LOS MENSAJES ================================= */
.contenedor_mensajes {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
}

.texto_1 {
    color: yellow;
    text-align: center;
    font-family: cursive;
    font-size: 16px;
}
.texto_2 {
    color: yellow;
    text-align: center;
    font-family: cursive;
    font-size: 18px;
    text-shadow: black 5px 5px 5px;
}

.mensajeria {
    text-align: center;
    width: 100%;
    height: auto;
}
textarea[name="textarea"] {
    resize: none;
    background-color: black;
    color: white;
    font-size: 17px;
    font-family: cursive;
    box-shadow: black 15px 15px 15px;
    margin-top: 10px;
}
textarea[name="textarea_2"] {
    resize: none;
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: cursive;
    box-shadow: black 15px 15px 15px;
}
input[name="boton_grama"] {
    width: 900px;
    height: 50px;
    background-color: #0027FF;
    color: white;
    box-shadow: black 15px 15px 15px;
    font-size: 16px;
    font-family: cursive;
    border: 1px solid white;
    border-radius: 10px 21px 10px 21px;
    margin-top: 10px;
    margin-bottom: 5px;
}
input[name="boton_grama"]:hover {
    color: rgb(0, 0, 0);
    background-color: aqua;
    border-radius: 21px 10px 21px 10px;
    transition: 0.3s ease;
}
#div_boton_salir {
    width: 700px;
    height: 35px;
    background-color: #0027FF;
    color: white;
    box-shadow: black 15px 15px 15px;
    border: 1px solid white;
    border-radius: 10px 21px 10px 21px;
    margin-left: auto;
    margin-right: auto;
    
}
#div_boton_salir:hover {
    background-color: aqua;
    
}
.boton_salir {
    position: relative;
    color: white;
    padding: 9px 300px;
    text-decoration: none;
    font-size: 18px;
    top: 5px;
}
.boton_salir:hover {
    color: black;
}


input[name="boton_like"] {
    width: 100px;
    height: 50px;
    background-color: #0027FF;
    color: white;
    box-shadow: black 15px 15px 15px;
    font-size: 16px;
    font-family: cursive;
    border: 1px solid white;
    border-radius: 10px 21px 10px 21px;
    margin-top: 10px;
    margin-bottom: 5px;
}
input[name="boton_like"]:hover {
    color: rgb(0, 0, 0);
    background-color: #5cf189;
    border-radius: 21px 10px 21px 10px;
    transition: 0.3s ease;
    
}

/* ================= DIV MENSAJES ENVIADOS ================================================= */

#formulario {
    position: relative;
    width: 100%;
    height: auto;
}
.div_consecutivos_mensajes {
    display:inline-block;
    width: 30%;
    height: 500px;
}
/* ==================================== */
#lista_botones_izquierdos {
    position: absolute;
    width: 200px;
    list-style-type: none;
    top: 200px;
    left: 200px;
    
}

/* ============================================= */
#div_central_mensaje {
    position: absolute;
    width: 30%;
    height: 500px;
}
.texto_3 {
    color: yellow;
    text-align: center;
    font-family: cursive;
    font-size: 18px;
    text-shadow: black 5px 5px 5px;
}
#div_avatar_4 {
    width: 80px;
    height: 80px;
    z-index: 5;
    border: 1px solid rgb(24, 22, 107);
    border-radius: 35%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
/* ==================================================== */

#div_perros {
    position: absolute;
    margin-top: 10%;
    width: 30%;
    height: 300px;
}
.div_relativo {
    position: relative;
    width: 200px;
    height: 100px;
}

#imagen_perro_1 {
    position: absolute;
    width: 35%;
    left: 0%;

    
}
#imagen_perro_2 {
    position: absolute;
    width: 35%;
    left: 0%;
}
#imagen_perro_3 {
    position: absolute;
    width: 35%;
    left: 0%;
}
#numero_1 {
    position: absolute;
    color: yellow;
    left: 100px;

}
#numero_2 {
    position: absolute;
    color: yellow;
    left: 100px;

}
#numero_3 {
    position: absolute;
    color: yellow;
    left: 100px;

}



/* ================================== FOOTER ================================================= */
#footer {
    margin-bottom: 0%;
    background-color: black;
    border: 1px solid white;
}
.lista_footer {
    color: yellow;
    text-align: center;
    font-size: 14px;
    font-family: cursive;
    list-style-type: none;

}
