{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block link %}
    <link rel="stylesheet" href="{% static 'apli_3/estilos_3.css' %}">
    {% endblock %}
    {% block script %}
    <script src="{% static 'apli_3/estilos3.js' %}"></script>
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'apli_3/images/kali celular 001.ico' %}" type="image/x-icon">

    <title>{{titulo_pagina}}</title>
    
</head>
<body id="body_kaligram">
    <!--=================== PRIMER DIV CONTENEDOR DE LOS TITULOS ==========================-->
    {% block div %}
    <div id="contenedor_logo">
        <img id="imagen_jupiter" src="{% static 'apli_3/images/jupiter.png' %}" alt="">
        <img id="imagen_kaligram" src="{% static 'apli_3/images/kaligram.png' %}" alt="">
        <img id="imagen_tierra" src="{% static 'apli_3/images/tierra.png' %}" alt="">
        <p id="tiempo">
            {{tiempo}}
        </p>
    </div>
    {% endblock %}
   
    {% block content %}
    <!-- ================== SEGUNDO DIV CONTENEDOR DE LOS MENSAJES ========================== -->
    <div class="contenedor_mensajes">
        <div id="div_mensaje_no_enviado">
            <div id="div_avatar_3">     
                <img id="imagen_avatar_3" src="{{cliente_imagen}}" alt="imagen del cliente">
            </div>
            <p class="texto_1">
                {{cliente_nombre}}!!!
            </p>
            <form action="/mensajeria/" method="post" class="mensajeria">{% csrf_token %} 
                <textarea name="textarea" id="" cols="80" rows="10"></textarea> <br>
                <input type="submit" value="grama" name="boton_grama">
            </form> 
            <div id="div_boton_salir">
                <a href="/pagina_principal/" class="boton_salir">get out</a>
            </div>
        </div>
        
        
        
       <hr style="color: white;"> 
        


    <!-- ================== LISTA DE MENSAJES DE LA BASE DE DATOS / ENVIO DE LIKE DISLIKE Y BORING =============================== -->

        {% for mensaje in mensajes %}
        <!-- DIV GENERAL DE LOS MENSAJES ENVIADOS -->
        
            <form id="formulario" method="post">{% csrf_token %}
                <div class="div_consecutivos_mensajes">
                    <ul id="lista_botones_izquierdos">
                        <li><a style="color:white;" value="answer">answer<a/></li>
                        <li><a style="color:white;">save</a></li>
                        <li><a style="color:white;">notifications</a></li>
                    </ul>
                </div>
                
                <!-- DIV CON EL TEXTAREA Y LOS BOTONES DE LIKES -->
                <div class="div_consecutivos_mensajes">
                    <div id="div_central_mensaje">
                        <p class="texto_3">
                            {{mensaje.nombre_cliente}} 
                        </p> 
                        <div id="div_avatar_4">                      
                            <img id="imagen_avatar_3" src="{{mensaje.imagen_cliente_1}}" alt="imagen del cliente">
                        </div>
                        <p class="texto_3">
                            {{mensaje.id}}
                        </p>
                        <input type="hidden" name="mensaje_id" value="{{mensaje.id}}">
                        <textarea name="textarea_2" id="textarea" cols="30" rows="10" readonly>{{mensaje.mensaje_cliente}}</textarea> <br>
                        
                        <input type="submit" value="like" formaction="/like/" name="boton_like" id="boton_perro_like">
                        <input type="submit" value="dislike" formaction="/dislike/" name="boton_like" id="boton_perro_dislike">
                        <input type="submit" value="boring" formaction="/boring/" name="boton_like" id="boton_perro_aburrido"> 
                        <div id="div_boton_answer">
                            <a class="boton_answer" href="{% url 'respuesta' mensaje_id=mensaje.id %}" value="answer">answer<a/>
                        </div>
                        
                    </div>                   
                </div> 
                <!-- DIV CON LAS FOTOS DE LOS PERROS LIKES. -->
                <div class="div_consecutivos_mensajes">
                    <div id="div_perros">
                        <div class="div_relativo">
                            <img id="imagen_perro_1" id="imagen_like" src="{% static 'apli_3/images/perro1.png' %}"> 
                            <p id="numero_1">{{mensaje.perro1_like}}</p>
                        </div>
                        <div class="div_relativo">
                            <img id="imagen_perro_2" src="{% static 'apli_3/images/perro2.png' %}">
                            <p id="numero_2">{{mensaje.perro2_dislike}}</p>
                        </div>
                        <div class="div_relativo">
                            <img id="imagen_perro_3" src="{% static 'apli_3/images/perro3.png' %}">
                            <p id="numero_3">{{mensaje.perro3_aburrido}}</p>
                        </div>    
                    </div>
                </div>  
            </form>
            
            <hr style="color: white;">
       
        {% endfor %}

       
    
    </div>
    {% endblock %}
    






    <!-- ============================ FOOTER =============================================== -->
    <div id="footer">
        <address>
            <ul>
                <li class="lista_footer">Todos los derechos reservados &#9400; a los autores de esta pagina.</li>
                <li class="lista_footer">Direccion y Produccion: Alexandros Konstantinos Kalisperis</li>
                <li class="lista_footer">Direccion de Email: alejandro_kali@yahoo.com.ar // alexandroskalisperis@gmail.com</li>
                <li class="lista_footer">Direccion Vivienda: Calle 58 numero 1218 - La Plata - Buenos Aires - Argentina</li>
                <li class="lista_footer">Telefono: 0054-221-6012872</li>
            </ul>
        </address>
    </div>
</body>
</html>